/dist
/node_modules
yarn-error.log

.next
.env.local

public/robots.txt
public/sitemap.xml
public/sitemap-*.xml
# Local Netlify folder
.netlify

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions